.game {
  justify-content: space-between;
  border: 1px solid white;
}

.player-hand,
.enemy-hand {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  gap: 10px;
}

.enemyHand {
  margin-bottom: 2em;
}

.hand {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.card {
  width: 50px;
  height: 100px;
  border: 1px solid white;
  position: relative;
  color: white;
}

.top-left,
.top-left-enemy,
.bottom-right,
.bottom-right-enemy {
  position: absolute;
  font-size: 1.5em;
}

.top-left,
.top-left-enemy {
  top: 2px;
  left: 2px;
}

.bottom-right,
.bottom-right-enemy {
  bottom: 2px;
  right: 2px;
}

.center,
.center-enemy {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-game {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.discard-pile {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
}

.discard-pile-card {
  width: 50px;
  height: 100px;
  border: 1px solid white;
  position: relative;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.deck img {
  display: flex;
  width: 50px;
  height: 100px;
  border: 1px solid white;
  margin: 0 10px 10px 0;
}

.deck {
  margin-right: 10px;
}

h2 {
  color: white;
}
